body{
    overflow: hidden;
}
.container{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.room-code{
    margin-top: 30px;
    margin-bottom: 60px;
}
.video-box{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dashboard-btn{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    background-color: white;
    border-color: #e8b720;
    border-style: solid;
    border-radius: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    transition-duration: 0.2s;
}
.dashboard-btn, .logout-btn{
    padding-left: 22px;
    padding-right: 22px;
    margin-right: 20px;
}
.dashboard-btn:hover{
    color: white;
    background-color: #e8b720;
}
.no-room-msg{
    text-align: center;
}