body{
    overflow: hidden;
}
input, label{
    display: block;
}
input{
    padding: 5px;
    margin-top: 3px;
    border-radius: 10px;
    border-color: #e8b720;
    border-style: solid;
    width: 200px;
}
input:focus{
    outline-color: #e8b720;
}
input:focus::placeholder{
    color: transparent;
}
.container{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    margin-top: 13%;
    margin-bottom: 5%;
    font-size: 25px;;
    border: solid;
}
.reset-password-box{
    padding: 4vh;
    margin-bottom: 20%;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-radius: 15px;
    border-width: 3px;
    width: 320px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 30px rgb(184, 195, 222); 

}
.reset-password-header{
    margin-top: 10px;
    margin-bottom: 15px;
}
.user-input{
    margin: 15px;
}
.password-match{
    font-size: 12px;
    margin-top: 215px;
    position: absolute;
}
.reset-btn{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    background-color: white;
    border-color: #e8b720;
    border-style: solid;
    border-radius: 100px;
    margin: 25px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    transition-duration: 0.2s;
}
.reset-btn:hover:enabled{
    color: white;
    background-color: #e8b720;
}
.to-login{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reset-success{
    margin-bottom: 10px;
}


