body{
    overflow: hidden;
}
input{
    padding: 5px;
    margin-top: 3px;
    border-radius: 10px;
    border-color: #e8b720;
    border-style: solid;
    width: 200px;
}
input:focus{
    outline-color: #e8b720;
}
input:focus::placeholder{
    color: transparent;
}
.container{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    margin-top: 260px;
    margin-bottom: 30px;
    font-size: 25px;;
    border: solid;
}
.dashboard-box{
    padding: 4vh;
    margin-bottom: 20%;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-radius: 15px;
    border-width: 3px;
    width: 470px;
    min-height: 475px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 30px rgb(184, 195, 222); 

}
.dashboard-header{
    margin-top: 5px;
    margin-bottom: 15px;
}
.user-attributes{
    padding: 10px;
    width: 450px;
    height: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.username-password, .email-admin{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.room-btns{
    height: 150px;
    width: 460px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logout-btn, .new-room-btn, .join-room-btn, .watchlist-btn{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    background-color: white;
    border-color: #e8b720;
    border-style: solid;
    border-radius: 100px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 22px;
    padding-right: 22px;
    transition-duration: 0.2s;
}
.logout-btn{
    margin-left: 20px;
}
.new-room-btn{
    margin: 5px;
}
.join-room-btn{
    margin: 5px;
}
.watchlist-btn{
    margin-left: 20px;
}
.logout-btn:hover, .new-room-btn:hover, .join-room-btn:hover, .watchlist-btn:hover{
    color: white;
    background-color: #e8b720;
}
.or{
    margin: 10px;
}
.watchlist-logout{
    margin-top: 10px;
    min-width: 400px;
    display: flex;
    align-items: center;
}
.to-watchlist{
    display: flex;
    min-width: 210px;
    align-items: center;
}
.to-watchlist-container{
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.to-watchlist{
    text-align: center;
    width: 140px;
}
